#modal1 {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal2 {
    background-color: white;
    width: 500px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000007c;
    display: flex;
    font-weight: bold;
    font-size: 30px;
    padding: 25px;
    font-family:'Manrope', sans-serif;  
}

#buttonModal {
    cursor: pointer;
}

#buttonClose {
    position: relative;
    right: 550px;
    bottom: 90px;
    cursor: pointer;
}

#fields {
    position: relative;
    display: grid;
    gap: 10px;
}

#campoNome {
    position: relative;
    right: 525px;
    width: 490px;
    top: 20px;
    display: flex;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
}

#campoEmail {
    position: relative;
    right: 525px;
    width: 490px;
    top: 20px;
    display: flex;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
}

#buttonRegister {
    position: relative;
    right: 1044px;
    top: 85px;
    cursor: pointer;
}

